
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}
body{
    overflow-x: hidden;
}

.navbar{
    background-color: #552517;
    box-shadow: 0px 5px 5px #552517;
}
.navbar img{
    width: 50px;
    height: 50px;
    margin: 0 20px;
}
/* home section start */
#home{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 15rem;
    padding-left: 20rem;
}
#home h1{
    font-size: 3rem;
}
#home .btn{
    background: linear-gradient(to right, #1d140c,  #724e2f, #1d140c);
    color: #ffffff;
}
@media (max-width:992px) {
    #home{
        padding-left: 0px;
    }
}

/* coffee and bakery section start */
.menu{
    background-image: url(bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card img{
    width: 100%;
    height: 400px;
}
.text1{
    color: white;
    text-align: center;
    margin-top: 17rem;
    display: none;
}
.text2{
    color: black;
    text-align: center;
    margin-top: 17rem;
    display: none;
}
.card:hover{
    .text1, .text2{
        display: block;
    }
}


.off{
    background-image: linear-gradient(to right, #1d140c,  #724e2f, #1d140c);
    height: 40vh;
}
.off .img1 img{
    width: 200px;
    height: 40vh;
    rotate: 180deg;
    left: 0;
    position: absolute;
}
.off .img2 img{
    width: 200px;
    height: 40vh;
    right: 0;
    position: absolute;
}
.off .btn1{
    background-color: #1d140c;
    color: white;
    border: none;
    outline: none;
}

@media (max-width:992px) {
    .off img{
        display: none;
    }
}

/* about section start */
#about{
    background-image: linear-gradient(#1d140c,  #724e2f, #1d140c);
}

/* modal start */
form{
    width: 100%;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
}
form .btn{
    width: 100%;
    border: none;
    background: linear-gradient(to right, #1d140c,  #724e2f, #1d140c);
    color: white;
}
form .text-center{
    font-size: 2rem;
    font-weight: 500;
}
@media only screen and (max-width:992px ) {
    form{
        width: 100%;
    }
}


